<h1>EAT DA BURGER!</h1>
<div class="row">
  <div class="panel col-lg-5 not-devoured">
    <h6>Burgers That Are Not Devoured!</h6>


<ul>
  {{#each burgertables}}
    {{#unless this.devoured}}
      <li>
        {{this.burger_name}}

        <form action="/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="1">
          <button type="submit">Eat!</button>
        </form>
      </li>
    {{/unless}}
  {{/each}}
</ul>
</div>
  <div class="panel col-lg-5 devoured">
<h6>Burgers That Are Devoured!</h6>

<ul>
  {{#each burgertables}}
    {{#if this.devoured}}
      <li>
        {{this.burger_name}}


        <form action="/update/{{this.id}}?_method=PUT" method="POST">
          <input type="hidden" name="devoured" value="0">
          <button type="submit">Vomit!</button>
        </form>



        <form action="/delete/{{this.id}}?_method=DELETE" method="POST">
      <!-- option 2, pass in the id of the cat inside the form - you would access this in the route using req.body.id not req.params.id -->
  <!-- <input type="hidden" name="id" value="{{this.id}}"> -->
      <button type="submit">DELETE!</button>
</form>


      </li>
    {{/if}}
  {{/each}}
</ul>
</div>


</div>


<h2>Add a Burger</h2>
<form action="/create" method="POST">

  <div class="form-group">
    <label>Burger Name:</label>
    <input type="text" name="name">
  </div>
  <button type="submit">Add Burger</button>
</form>





